# Tablas P1 vs P2 vs P Completo (FeatureBased k=6)

### Inputs files: 

#### ScoresFB_2015to2017.csv
#### ScoresFB_2018to2020.csv
#### SilScore_18FB.csv
##### -------------------------------------------------------------------------

In [4]:
import glob
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tsfeature as tsf
import entropy as ent

my_path = os.path.abspath('')
my_path = my_path.split('\\')
my_path_py = "\\".join(my_path[:-2])

In [12]:
P1 = pd.read_csv(my_path_py+'\\2_FeatureBased\\Complementario_Periodos\\ScoresFB_2015to2017.csv', sep=',')
P2 = pd.read_csv(my_path_py+'\\2_FeatureBased\\Complementario_Periodos\\ScoresFB_2018to2020.csv', sep=',')
FB = pd.read_csv(my_path_py+'\\2_FeatureBased\\Resultados_Scores\\SilScore_18FB.csv', sep=',')
FB = FB.drop('Unnamed: 0', axis=1)
P1 = P1.drop('Unnamed: 0', axis=1)
P2 = P2.drop('Unnamed: 0', axis=1)

In [13]:
compara = pd.DataFrame()
compara['Metrica'] = ['Euclidean', 'Pearson', 'Spearman', 'DTW']
compara['HAC P1'] = P1['SIL - HAC']
compara['HAC P2'] = P2['SIL - HAC']
compara['HAC Total'] = [FB['EUCLIDEAN-HAC'][0], FB['CORRELATION-HAC'][0], FB['SPEARMAN-HAC'][0], FB['DTW-HAC'][0]]

compara['KM P1'] = P1['SIL - KM']
compara['KM P2'] = P2['SIL - KM']
compara['KM Total'] = [FB['EUCLIDEAN-KM'][0], FB['CORRELATION-KM'][0], FB['SPEARMAN-KM'][0], FB['DTW-KM'][0]]

compara['DBSCAN P1'] = P1['SIL - DB']
compara['DBSCAN P2'] = P2['SIL - DB']
compara['DBSCAN Total'] = [FB['EUCLIDEAN-DB'][0], FB['CORRELATION-DB'][0], FB['SPEARMAN-DB'][0], FB['DTW-DB'][0]]

compara

,Metrica,HAC P1,HAC P2,HAC Total,KM P1,KM P2,KM Total,DBSCAN P1,DBSCAN P2,DBSCAN Total
0,Euclidean,0.970170,0.969808,0.974306,0.970170,0.968204,0.975580,-0.073256,0.152714,0.586864
1,Pearson,0.760642,0.690888,0.776843,0.745243,0.700250,0.781621,0.691149,0.464023,0.517453
2,Spearman,0.393574,0.365535,0.375904,0.402922,0.385404,0.399945,0.443439,0.210261,0.438144
3,DTW,0.970155,0.969796,0.974289,0.970155,0.968191,0.975568,0.193055,0.297338,0.575432

In [14]:
FB_C = pd.read_csv(my_path_py+'\\2_FeatureBased\\Resultados_Scores\\CHZScore_18FB.csv', sep=',')
FB_C = FB_C.drop('Unnamed: 0', axis=1)

compara2 = pd.DataFrame()
compara2['Metrica'] =  ['Euclidean', 'Pearson', 'Spearman', 'DTW']

compara2['HAC P1'] = P1['CHZ - HAC']
compara2['HAC P2'] = P2['CHZ - HAC']
compara2['HAC TOTAL'] = [FB_C['EUCLIDEAN-HAC'][0], FB_C['CORRELATION-HAC'][0], FB_C['SPEARMAN-HAC'][0], FB_C['DTW-HAC'][0]]

compara2['KM P1'] = P1['CHZ - KM']
compara2['KM P2'] = P2['CHZ - KM']
compara2['KM FB'] = [FB_C['EUCLIDEAN-KM'][0], FB_C['CORRELATION-KM'][0], FB_C['SPEARMAN-KM'][0], FB_C['DTW-KM'][0]]

compara2['DB P1'] = P1['CHZ - DB']
compara2['DB P2'] = P2['CHZ - DB']
compara2['DB TOTAL'] = [FB_C['EUCLIDEAN-DB'][0], FB_C['CORRELATION-DB'][0], FB_C['SPEARMAN-DB'][0], FB_C['DTW-DB'][0]]

compara2

,Metrica,HAC P1,HAC P2,HAC TOTAL,KM P1,KM P2,KM FB,DB P1,DB P2,DB TOTAL
0,Euclidean,416769.025928,344509.923795,271902.776957,416769.025928,345276.211631,280626.618215,0.298757,0.564896,2.170604
1,Pearson,3655.501209,3149.634944,2902.747554,3875.131851,3290.738380,3269.282749,982.055887,250.413001,83.268301
2,Spearman,366.205491,361.011655,397.493129,389.211671,395.153565,435.802347,68.469645,69.217427,114.411452
3,DTW,416947.204318,344167.494579,271848.430052,416947.204318,344942.382412,280645.014647,0.354586,1.327170,2.489706

In [16]:
FB_D = pd.read_csv(my_path_py+'\\2_FeatureBased\\Resultados_Scores\\DAVIES_18FB.csv', sep=',')
FB_D = FB_D.drop('Unnamed: 0', axis=1)

compara3 = pd.DataFrame()
compara3['Metrica'] = ['Euclidean', 'Pearson', 'Spearman', 'DTW']

compara3['HAC P1'] = P1['DAVID - HAC']
compara3['HAC P2'] = P2['DAVID - HAC']
compara3['HAC TOTAL'] = [FB_D['EUCLIDEAN-HAC'][0], FB_D['CORRELATION-HAC'][0], FB_D['SPEARMAN-HAC'][0], FB_D['DTW-HAC'][0]]

compara3['KM P1'] = P1['DAVID - HAC']
compara3['KM P2'] = P2['DAVID - HAC']
compara3['KM TOTAL'] = [FB_D['EUCLIDEAN-KM'][0], FB_D['CORRELATION-KM'][0], FB_D['SPEARMAN-KM'][0], FB_D['DTW-KM'][0]]

compara3['DB P1'] = P1['DAVID - HAC']
compara3['DB P2'] = P2['DAVID - HAC']
compara3['DB TOTAL'] = [FB_D['EUCLIDEAN-DB'][0], FB_D['CORRELATION-DB'][0], FB_D['SPEARMAN-DB'][0], FB_D['DTW-DB'][0]]

compara3

,Metrica,HAC P1,HAC P2,HAC TOTAL,KM P1,KM P2,KM TOTAL,DB P1,DB P2,DB TOTAL
0,Euclidean,0.257877,0.060439,0.219227,0.257877,0.060439,0.268636,0.257877,0.060439,1.689526
1,Pearson,0.513554,0.650380,0.523132,0.513554,0.650380,0.581165,0.513554,0.650380,1.382753
2,Spearman,0.874251,0.996317,0.917704,0.874251,0.996317,0.904328,0.874251,0.996317,1.204489
3,DTW,0.257835,0.060460,0.219237,0.257835,0.060460,0.268611,0.257835,0.060460,1.692070